form {
    display: flex;
    transition: 0.2s ease-in;
    box-sizing: content-box;
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
  
  }
  
  button {
    font-size: 20px;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    transition: 0.4s;
  }
  
  input {
    font-size: 20px;
    outline:none;
    color: white;
    border:none;
    background: none;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }
  
  input:not(:placeholder-shown),
  form:hover > input {
    width: 240px;
    padding: 0 6px;
  }
  
  input:not(:placeholder-shown) + button,
  form:hover > button {
    background: #f0b23a;
  }